/**
 * Destructive Dialog styles
 */

@ui-destructive-dialog-font: @ui-font-sans-serif;
@ui-destructive-dialog-letter-spacing: 0.02em;
@ui-destructive-dialog-background: @ui-color-white;

.ui-destructive-dialog-container {
	font-family: @ui-destructive-dialog-font;
	letter-spacing: @ui-destructive-dialog-letter-spacing;
	position: fixed;
	z-index: 1000;
	left: 40%;
	top: 40%;
	background: @ui-destructive-dialog-background;
	padding: @ui-small;

	.dialog-content {
		opacity: @ui-opacity-medium;
	}

	.button-wrapper {
		float: right;
		margin: @ui-large @ui-small 0 0;

		button {
			margin-left: @ui-medium;
		}
	}
}
