/**
 * StatusBadge styles
 */

 @ui-status-badge-border: 1px solid;
 @ui-status-badge-border-radius: 1000px;
 @ui-status-badge-dot-size: 12px;
 
 .status-badge {
   display: inline-block;
   border: @ui-status-badge-border;
   border-radius: @ui-status-badge-border-radius;
   padding: @ui-xx-small @ui-x-small;
   font-family: @ui-font-sans-serif;
   color: @ui-color-white;
   
   .status-badge-dot {
     height: @ui-status-badge-dot-size;
     width: @ui-status-badge-dot-size;
     border-radius: @ui-status-badge-border-radius;
     display: inline-block;
     margin-right: @ui-x-small;
   }
   
   &.active {
     border-color: @ui-color-green;
 
     .status-badge-dot {
       background-color: @ui-color-green;
     }
   }
 
   &.paused {
     border-color: @ui-color-red;
 
     .status-badge-dot {
       background-color: @ui-color-red;
     }
   }
 
   &.pending {
     border-color: @ui-color-yellow;
 
     .status-badge-dot {
       background-color: @ui-color-yellow;
     }
   }
 
   &.archived {
     border-color: @ui-color-gray-dark;
 
     .status-badge-dot {
       background-color: @ui-color-gray-dark;
     }
   }
 }
 