/**
 * Grid
 */

.ui-grid {
	display: flex;
	justify-content: space-between;
	flex-direction: row;

	// parent properties
	&.swap {
		flex-direction: row-reverse;
	}

	&.stacked {
		flex-direction: column;

		.bottom {
			align-self: auto;
		}
	}

	&.stacked.swap {
		flex-direction: column-reverse;
	}

	&.block {
		flex-wrap: wrap;
	}

	// child properties
	& > * {
		max-width: 100%;
		position: relative;
		flex: 1;
	}

	.center-y {
		align-self: center;
	}

	.bottom {
		align-self: flex-end;
	}

	&.outer-gutter {
		&-xx-small {
			margin-left: (@ui-xx-small * -1);
			margin-right: (@ui-xx-small * -1);
		}

		&-x-small {
			margin-left: (@ui-x-small * -1);
			margin-right: (@ui-x-small * -1);
		}

		&-small {
			margin-left: (@ui-small * -1);
			margin-right: (@ui-small * -1);
		}

		&-medium {
			margin-left: (@ui-medium * -1);
			margin-right: (@ui-medium * -1);
		}

		&-large {
			margin-left: (@ui-large * -1);
			margin-right: (@ui-large * -1);
		}

		&-x-large {
			margin-left: (@ui-x-large * -1);
			margin-right: (@ui-x-large * -1);
		}

		&-xx-large {
			margin-left: (@ui-xx-large * -1);
			margin-right: (@ui-xx-large * -1);
		}
	}
}

.ui-grid-item {
	&.gutter {
		&-xx-small {
			padding-left: @ui-xx-small;
			padding-right: @ui-xx-small;
		}

		&-x-small {
			padding-left: @ui-x-small;
			padding-right: @ui-x-small;
		}

		&-small {
			padding-left: @ui-small;
			padding-right: @ui-small;
		}

		&-medium {
			padding-left: @ui-medium;
			padding-right: @ui-medium;
		}

		&-large {
			padding-left: @ui-large;
			padding-right: @ui-large;
		}

		&-x-large {
			padding-left: @ui-x-large;
			padding-right: @ui-x-large;
		}

		&-xx-large {
			padding-left: @ui-xx-large;
			padding-right: @ui-xx-large;
		}
	}
}
