/**
 * Notification styles
 */

 @notication-padding: 13px 16px;
 @notification-icon-margin-right: 18px;
 @notification-icon-top: 6px;

.notification {
  font-family: @ui-font-sans-serif;
  padding: @notication-padding;
  border-radius: 2px;
  background-color: @ui-color-black;
  color: @ui-color-white;

  .notification-icon {
    position: relative;
    top: @notification-icon-top;
    margin-right: @notification-icon-margin-right;
  }

  .action {
    color: @ui-color-blue;
    margin-left: @ui-small;
    cursor: pointer; 
  }
}
