/**
 * Notification styles
 */

.notification {
	position: fixed;
	bottom: @ui-small;
	right: @ui-small;
	font-family: @ui-font-sans-serif;
	padding: @ui-small;
	border-radius: 2px;
	background-color: @ui-color-black;
	color: @ui-color-white;
	max-width: 300px;

	span {
		margin-left: @ui-large;
	}

	.notification-icon {
		margin-top: -1px;
		float: left;
		width: 10%;
	}

	.notification-content {
		float: right;
		width: 90%;

		.action {
			color: @ui-color-blue;
			margin-left: @ui-small;
			cursor: pointer;
		}
	}

	&.mobile {
		left: @ui-small;
	}
}
