/**
 * Notification styles
 */

.notification {
	position: fixed;
	bottom: @ui-small;
	right: @ui-small;
	font-family: @ui-font-sans-serif;
	padding: @ui-small;
	border-radius: 2px;
	background-color: @ui-color-black;
	color: @ui-color-white;

	span {
		margin-left: @ui-large;
	}

	.notification-icon {
		position: absolute;
		margin-top: -1px;
	}

	.action {
		color: @ui-color-blue;
		margin-left: @ui-small;
		cursor: pointer;
	}
}
