/**
 * Text
 */

// general variables
@ui-text-font-family: @ui-font-sans-serif;
@ui-text-paragraph-margin: 0 0 @ui-small;
@ui-text-color: @ui-color-white;
@ui-text-color-inverse: @ui-color-black;

.ui-text {
	font-family: @ui-text-font-family;
	color: @ui-text-color;

	&.inverse {
		color: @ui-text-color-inverse;
	}

	p& {
		margin: @ui-text-paragraph-margin;
	}

	&.body-1 {
		font-size: @ui-font-body-size;
		letter-spacing: @ui-font-body-spacing;
	}

	&.body-2 {
		font-size: @ui-font-body-alt-size;
		letter-spacing: @ui-font-body-alt-spacing;
		font-weight: @ui-font-body-alt-weight;
	}

	&.h1 {
		font-size: @ui-font-h1-size;
		letter-spacing: @ui-font-h1-spacing;
	}

	&.h2 {
		font-size: @ui-font-h2-size;
		letter-spacing: @ui-font-h2-spacing;
	}

	&.h3 {
		font-size: @ui-font-h3-size;
		letter-spacing: @ui-font-h3-spacing;
	}

	&.h4 {
		font-size: @ui-font-h4-size;
		letter-spacing: @ui-font-h4-spacing;
	}

	&.h5 {
		font-size: @ui-font-h5-size;
		letter-spacing: @ui-font-h5-spacing;
	}

	&.h6 {
		font-size: @ui-font-h6-size;
		letter-spacing: @ui-font-h6-spacing;
	}

	&.subtitle {
		font-size: @ui-font-subtitle-size;
		letter-spacing: @ui-font-subtitle-spacing;
	}

	&.subtitle-2 {
		font-size: @ui-font-subtitle-alt-size;
		letter-spacing: @ui-font-subtitle-alt-spacing;
		font-weight: 500;
	}

	&.caption {
		font-size: @ui-font-caption-size;
		letter-spacing: @ui-font-caption-spacing;
		opacity: @ui-opacity-medium;
		margin: 0;
	}

	&.input-error {
		font-size: @ui-font-caption-size;
		letter-spacing: @ui-font-caption-spacing;
		margin: @ui-xx-small 0 0;
		color: @ui-color-red;
	}

	&.overline {
		font-size: @ui-font-overline-size;
		letter-spacing: @ui-font-overline-spacing;
	}
}
