.ui-input-wrapper {
	&.nested {
		margin-left: @ui-large;
	}

	&.full .ui-input {
		width: 100%;
	}
}

.ui-input-wrapper + .ui-input-wrapper {
	margin-top: @ui-small;
}

.ui-input {
	background: @ui-color-gray-light;
	border: 1px solid @ui-color-gray-medium;
	outline-color: @ui-color-blue;
	outline-width: 2px;

	&[type='text'] {
		padding: @ui-x-small;
	}

	select& {
		height: 36px;
	}
}
