.ui-loading-bar-wrapper {
	position: relative;
	height: 16px;
	overflow: hidden;
	margin-bottom: 20px;
	background-color: @ui-color-slate;

	.bar {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		background-color: @ui-color-green;
	}
}
