/**
 * Global style for all UI elements
 */
[class*="ui-"] {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

/**
 * Import component styles
 */
@import 'elements/Common/Common';
@import 'elements/Grid/Grid';
@import 'elements/FlexRow/FlexRow';
@import 'elements/Flex/Flex';
@import 'elements/Button/Button';
@import 'elements/StatusBadge/StatusBadge';
@import 'elements/Notification/Notification';
@import 'elements/Div/Div';
@import 'elements/LoadingBar/LoadingBar';
@import 'elements/Chip/Chip';
@import 'elements/ToggleSwitch/ToggleSwitch';
@import 'elements/DestructiveDialog/DestructiveDialog';
@import 'elements/Input/Input';
@import 'elements/Text/Text';
@import 'elements/DataList/DataList';
@import 'elements/Modal/Modal';
