[class*="ui-"] {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

/**
 * Colors
 */

@ui-color-green: MediumSeaGreen;
@ui-color-blue: DodgerBlue;
@ui-color-red: FireBrick;
@ui-color-pink: LightCoral;
@ui-color-orange: DarkOrange;
@ui-color-yellow: Gold;

// neutrals
@ui-color-brown: Tan;
@ui-color-slate: LightSlateGray;
@ui-color-black: #000000;
@ui-color-white: #ffffff;

// greys
@ui-color-gray-lightest: #f7f7f7;
@ui-color-gray-lighter: #f3f3f3;
@ui-color-gray-light: #e1e1e1;
@ui-color-gray-medium: #b3b3b3;
@ui-color-gray-dark: #919191;
@ui-color-gray-darker: #3E3E3E;
@ui-color-gray-darkest: #222222;

/**
 * Fonts
 */

@ui-font-serif: serif;
@ui-font-sans-serif: 'Helvetica', Arial, sans-serif;

/**
 * Font sizes
 */

@ui-font-xx-small: 0.8em;
@ui-font-x-small: 0.9em;
@ui-font-small: 1em;
@ui-font-medium: 1.5em;
@ui-font-large: 2em;
@ui-font-x-large: 2.4em;
@ui-font-xx-large: 3em;

/**
 * Spacing
 */

@base-unit: 16px;
@ui-xx-small: (@base-unit / 4);
@ui-x-small: (@base-unit / 2); // 8
@ui-small: @base-unit; // 16
@ui-medium: (@base-unit * 1.5); // 24
@ui-large: (@base-unit * 2); // 32
@ui-x-large: (@base-unit * 3); // 48
@ui-xx-large: (@base-unit * 4); // 64

@import 'elements/Common/common';
@import 'elements/Button/button';
@import 'elements/Div/div';
@import 'elements/DropDown/drop-down';
@import 'elements/Flex/flex';
@import 'elements/FlexRow/flex-row';
@import 'elements/Grid/grid';
@import 'elements/Heading/heading';
@import 'elements/Input/input';
@import 'elements/List/list';
@import 'elements/Notification/notification';
@import 'elements/Modal/modal';
@import 'elements/TabbedContainer/tabbed-container';
@import 'elements/Text/Text';
