/**
 * Tabbed Container
 */

@ui-tabbed-container-nav-background: @ui-color-blue;
@ui-tabbed-container-nav-item-color: @ui-color-white;
@ui-tabbed-container-nav-item-box-shadow: 0 0 3px fade(#000, 10%);
@ui-tabbed-container-content-box-shadow: 0 3px 3px fade(#000, 10%);
@ui-tabbed-container-content-border-radius: 0 3px 3px 3px;

.ui-tabs-container {
	.ui-tabs-nav {
		margin-bottom: 10px;
		border: 1px solid @ui-tabbed-container-nav-background;
		border-radius: 3px;

		.ui-tab-nav-item {
			margin: 0;
			background: @ui-tabbed-container-nav-item-color;
			border-right: 1px solid @ui-tabbed-container-nav-background;
			text-align: center;
			padding: @ui-x-small;

			a {
				color: @ui-tabbed-container-nav-background;
				text-decoration: none;
			}

			&.active-item {
				background: @ui-tabbed-container-nav-background;

				a {
					color: @ui-tabbed-container-nav-item-color;
				}
			}

			&:first-of-type {
				border-radius: 3px 0 0 3px;
			}

			&:last-of-type {
				border-radius: 0 3px 3px 0;
				border-right: none;
			}
		}
	}

	.ui-tabs-content {
		.ui-tab-panel {
			display: none;

			&.active-tab {
				display: block;
			}
		}
	}

	&.desktop {
		.ui-tabs-nav {
			margin: 0;
			border: none;
			border-radius: 0;

			.ui-tab-nav-item {
				display: inline-block;
				min-width: 150px;
				margin-right: @ui-x-small;
				box-shadow: @ui-tabbed-container-nav-item-box-shadow;
				border: none;
				background: @ui-tabbed-container-nav-background;

				a {
					color: @ui-tabbed-container-nav-item-color;
				}

				&.active-item {
					background: @ui-tabbed-container-nav-item-color;

					a {
						color: @ui-tabbed-container-nav-background;
					}
				}

				&:first-of-type {
					border-radius: 0;
				}

				&:last-of-type {
					border-radius: 0;
				}
			}
		}

		.ui-tabs-content {
			position: relative;
			padding: @ui-small;
			box-shadow: @ui-tabbed-container-content-box-shadow;
			background: @ui-tabbed-container-nav-item-color;
			border-radius: @ui-tabbed-container-content-border-radius;
		}
	}
}
